# Default owners for everything in the repo.
# They will be assigned for review on all PRs.
* @trailheadapps/maintainers-coral-cloud
#ECCN:Open Source 5D002
#GUSINFO:Developer Relations,DevRel Content
