# List files or directories below to ignore them when running prettier
# More information: https://prettier.io/docs/en/ignore.html
#

# Topic instructions
**/genAiPlugins/**

# Dependencies
**/staticresources/**

# Project file (modified automatically by packafing)
sfdx-project.json

# Tooling
.localdevserver
.sfdx
.sf
.vscode
coverage/