:host {
    zoom: 1.2;
}

.slds-card {
    background: rgb(243, 242, 242);
}

.search-bar {
    display: block;
    margin: 0 0.5rem 0.3rem 0.5rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

c-experiences-tile {
    flex: 1;
    display: flex;
}

c-paginator {
    display: block;
}

c-experience-schedule {
    --sds-c-icon-color-background: rgb(7, 120, 135);
    --slds-g-color-brand-base-50: rgb(2, 80, 90);
}
