.record-open-container {
    display: flex;
    justify-content: end;
}

.spinner-container {
    position: relative;
    min-height: 7rem;
}

c-session-booking-progress {
    width: 100%;
}

.status-field {
    min-width: revert; /* Fixes UI glitch for narrow form fields */
}
